backend/.python-version
backend/uv.lock
/backend/__pycache__
/backend/app/api/__pycache__
/backend/app/api/routes/__pycache__
/backend/app/__pycache__
/backend/app/core/__pycache__
frontend/notebook-assistant/package-lock.json
*.pyc
